h1{
	text-align: center;
}
body{
	font-family: calibri, arial, sans-serif;
	font-size: 18pt;
	background-color: white;
}
a{
	text-decoration:underline;
	color:#02009e;
}
#wolf-logo{
	/*display: block;
    margin-left: auto;
    margin-right: auto;*/
    float:right;
	max-width:10%;
}
#wolf-single{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:50%;
}

.wolf-gallery{
	max-height:300px;
	max-width: 32%;
}

.menu{
	text-align: center;
}

.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	/*font-family:"Calibri",sans-serif;*/
text-align: center;}

.WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;
text-align: center;}

